<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/css.css" rel="stylesheet" type="text/css" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script src="js/jquery.min.1.8.2.js" type="text/javascript"></script>
<script src="js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
<script type="text/javascript" src="js/slide.js"></script>
<script src="js/common_js.js" type="text/javascript"></script>
<script src="js/jquery.foucs.js" type="text/javascript"></script>
    <!--外部引用js-->
    <script type="text/javascript" src="js/goods/getDetails.js"></script>
<!--[if IE 7]>
<link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css">
<![endif]-->
<title>商品团购</title>
</head>

<body>
<!--顶部样式-->
<div class="top_header">
<em class="left_img"></em>
<div class="header clearfix" id="header">
<a href="#" class="logo_img"></a>
<div class="header_Section">
    <div id="head"></div>
 <div class="nav" id="Navigation">
  <ul class="Navigation_name"> 
   <li class=""><a href="index.html">首页</a></li>
   <li class=""><a href="Products.html">所有果蔬</a></li>
   <li class=""><a href="Group_buy.html">活动专区</a></li>
      <li class=""><a href="integral.html">积分商城</a></li>
      <li class=""><a href="Product-List.html">特价</a></li>
      <li class=""><a href="Product-List1.html">鲜肉海鲜</a></li>
   <li class=""><a href="user.html">会员中心</a></li>
  </ul>
 </div>
 <script>$("#Navigation").slide({titCell:".Navigation_name li"});</script>
</div>
</div>
<em class="right_img"></em>
</div>
<!---->
<div style="background:url(images/group_img.jpg) no-repeat; height:472px; width:100%; background-position:center"></div>
<!--位置-->
<div class="Bread_crumbs">
 <div class="Inside_pages clearfix">
   <div class="left">当前位置：<a href="#">首页</a>&gt;<a href="#">活动专区</a></div>
     <div class="right Search" id="search">

     </div>
 </div>
</div>

<!--团购样式-->
<div class="Inside_pages clearfix" id="app">
 <div class="Group_buy">
    <div class="Group_title"><em></em>今日团购<span>GROUP-BUYING</span></div>
    <div class="Group_list clearfix">
     <div class="left_Group">
     <div class="Group_prodcut" v-for="product of products" v-if="product.type=='水果'">
      <div class="clearfix">
       <div class="Group_info">
         <ul>
          <li class="Group_p_name"><a href="#">{{product.name}}</a></li>
          <li class="Group_p_about">{{product.details}}</li>
          <Li>{{product.activity}}</Li>
          <li class="Group_price"><span class="Current_price"><i>￥</i>{{product.discountPrice}}</span> <span class="Group_List">原价：{{product.price}}</span></li>
          <li class="Group_p_buy">
           <span class="Group_Number"><em></em>{{product.purchase}}人购买</span>
           <span class="Group_button right"><a href="#" class="buy_button"></a></span>
          </li>
         </ul>
       </div>
       <div class="Group_img"><a style="cursor: pointer;" v-on:click="getDetails(product.id)"><img v-bind:src="product.img"  height="195" width="365"/></a></div>
       </div>
       <div class="Group_time">
         <em></em>距离结束还有2天4小时32分23秒
       </div>
      </div>
     </div>
     <!--右侧团购样式-->
     <div class="right_Group">
     <div class="right_Group_p_style" v-for="product of products" v-if="product.type=='肉鲜'">
       <div class="clearfix">
        <div class="left_Group_name">
         <ul>
          <li class="Group_p_name"><a href="#">{{product.name}}</a></li>
          <li class="Group_p_about">{{product.details}}</li>
          <Li class="spacing">{{product.activity}}</Li>
          <li class="Group_price"><span class="Current_price"><i>￥</i>{{product.discountPrice}}</span> <span class="Group_List">原价：{{product.price}}</span></li>
          <li class="Group_p_buy">
           <span class="Group_Number"><em></em>{{product.purchase}}人购买</span>
           <span class="Group_button right"><a href="#" class="buy_button"></a></span>
          </li>
         </ul>
        </div>
        <div class="right_Group_img"><a style="cursor: pointer;" v-on:click="getDetails(product.id)"><img v-bind:src="product.img"  height="370" width="365"/></a></div>
       </div>
        <div class="Group_time">
         <em></em>距离结束还有2天4小时32分23秒
       </div>
     </div>
     <!--团购列表-->
     <div class="other_Group clearfix" >
       <div class="g_p_list" v-for="product of products" v-if="product.type=='蔬菜'">
        <div class="g_p_style"> 
         <div class="g_p_img"><a href="#"><img v-bind:src="product.img"  height="220" width="274"/></a></div>
        <ul>
        <li><a href="" class="name">{{product.name}}</a></li>
        <li>{{product.details}}</li>
        <li class="Group_price"><span class="Current_price"><i>￥</i>{{product.discountPrice}}</span> <span class="Group_List">原价：{{product.price}}</span></li>
        <li class="Group_p_buy">
           <span class="Group_Number">{{product.purchase}}人购买</span>
           <span class="Group_button right"><a style="cursor: pointer;" v-on:click="getDetails(product.id)" class="buy_button"></a></span>
          </li>
        </ul>
        </div>
       </div>

       </div>
       <!---->
     </div>
     </div>
    </div>
 </div>
</div>
<!--底部样式-->

<div id="foot"></div>
<script>
    $(function(){
        $("#head").load("head.html");
        $("#foot").load("foot.html");
        $("#search").load("search.html")
    });
</script>
<script src="./lib/layui/layui.js" charset="utf-8"></script>
<script src="./js/x-admin.js"></script>
<script src="./js/x-layui.js" charset="utf-8"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">
    layui.use(['laydate','element','laypage','layer'], function(){
        $ = layui.jquery;//jquery
        laydate = layui.laydate;//日期插件
        lement = layui.element();//面包导航
        laypage = layui.laypage;//分页
        layer = layui.layer;//弹出层

    });

    var app=new Vue({
        el:"#app",
        data:{
            products:[]
        },
        methods:{
            getDetails:function(id){
                //去后台访问详情信息
                window.open("Product-detailed.html?id="+id)
            }
        }
    })
    //加载页面自动执行
    $(document).ready(function(){
        $.ajax({
            url:"goods/getByFalg",
            type:"post",
            dataType:"json",
            data:{
                flag:"活动"
            },
            success:function (data) {
                app.products=data.data.products
            }
        })
    });
</script>
</div>
</body>
</html>
