<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/css.css" rel="stylesheet" type="text/css" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script src="js/jquery.min.1.8.2.js" type="text/javascript"></script>
<script src="js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
<script type="text/javascript" src="js/slide.js"></script>
<script src="js/common_js.js" type="text/javascript"></script>
<script src="js/jquery.foucs.js" type="text/javascript"></script>

<title>产品</title>
</head>

<body>
<!--顶部样式-->
<div class="top_header">
<em class="left_img"></em>
<div class="header clearfix" id="header">
<a href="#" class="logo_img"></a>
<div class="header_Section">
 <div id="head"></div>
 <div class="nav" id="Navigation">
  <ul class="Navigation_name"> 
   <li class=""><a href="index.html">首页</a></li>
   <li class=""><a href="Products.html">所有果蔬</a></li>
   <li class=""><a href="Group_buy.html">活动专区</a></li>
      <li class=""><a href="integral.html">积分商城</a></li>
      <li class=""><a href="Product-List.html">特价</a></li>
      <li class=""><a href="Product-List1.html">鲜肉海鲜</a></li>
   <li class=""><a href="user.html">会员中心</a></li>
  </ul>
 </div>
 <script>$("#Navigation").slide({titCell:".Navigation_name li"});</script>
</div>
</div>
<em class="right_img"></em>
</div>
<!---->
<div class="AD_img"><a href="#"><img src="images/AD_page_img_02.png"  width="100%"/></a></div>
<!--位置-->
<div class="Bread_crumbs">
 <div class="Inside_pages clearfix">
   <div class="left">当前位置：<a href="#">首页</a>&gt;<a href="#">果蔬</a></div>
   <div class="right Search" id="search">

   </div>
 </div>
</div>
<!--产品-->
<div class="Inside_pages" id="app">
  <!--水果馆-->
  <div class="fruits_Forum">
    <div class="title_style">
     <div class="title_name"><a href="#"><img src="images/sg_pro_img_12.png" /></a></div>
     <div class="title_info">
      <p class="title_x_name">[健康水果小知识]</p>
      <p class="x_info">水果是指多汁且大多数有甜味可直接生吃的植物果实，不但含有丰富的营养且能够帮助消化。水果是对部分可以食用的植物果实和种子的统称。水果有降血压、减缓衰老、减肥瘦身、皮肤保养、 明目、抗癌、降低胆固醇补充维生素等保健作用。</p>
     </div>
     <div class="title_img"><img src="images/sg_pro_img_17.png" /></div>
    </div>
    <div class="list_style">
      <ul class="clearfix">
       <li class="clearfix" v-for="product of products">
       <div class="product_lists clearfix" v-if="product.type=='水果'">
        <a style="cursor: pointer;" class="Collect" title="收藏" ></a>
        <a href="#"><img v-bind:src="product.img" /></a>
        <p class="title_p_name">{{product.name}}</p>
        <p class="title_Profile">{{product.details}}</p>
           <div class="Group_p_buy">
               <span class="price"><b>￥</b>{{product.price}}</span>
               <span class="Group_Number" style="margin-left: 80px"><em></em>{{product.purchase}}人购买</span>
           </div>
        <p class="btn_style"><a href="javascript;('')" class="buy_btn"></a><a href="javascript;('')" class="Join_btn"></a></p>
        </div>
       </li>
      </ul>   
    </div>  
  </div> 
    <!--蔬菜馆-->
  <div class="vegetables_Forum">
    <div class="title_style">
     <div class="title_name"><a href="#"><img src="images/vegetables_img_40.png" /></a></div>
     <div class="title_info">
      <p class="title_x_name">[健康蔬菜小知识]</p>
      <p class="x_info">蔬菜是指多汁且大多数有甜味可直接生吃的植物果实，不但含有丰富的营养且能够帮助消化。水果是对部分可以食用的植物果实和种子的统称。水果有降血压、减缓衰老、减肥瘦身、皮肤保养、 明目、抗癌、降低胆固醇补充维生素等保健作用。</p>
     </div>
     <div class="title_img"><img src="images/title_p_img_32.png" /></div>
    </div>
    <div class="list_style">
      <ul class="clearfix">
       <li class="clearfix" v-for="product of products">
       <div class="product_lists clearfix" v-if="product.type=='蔬菜'">
        <a style="cursor: pointer;" class="Collect" title="收藏" ></a>
        <a href="#"><img v-bind:src="product.img" /></a>
        <p class="title_p_name">{{product.name}}</p>
        <p class="title_Profile">{{product.details}}</p>
           <div class="Group_p_buy">
               <span class="price"><b>￥</b>{{product.price}}</span>
               <span class="Group_Number" style="margin-left: 80px"><em></em>{{product.purchase}}人购买</span>
           </div>
        <p class="btn_style"><a href="javascript;('')" class="buy_btn"></a><a href="javascript;('')" class="Join_btn"></a></p>
        </div>
       </li>
      </ul>   
    </div>  
  </div>
</div>
<!--底部样式-->
<div id="foot"></div>
<script src="./lib/layui/layui.js" charset="utf-8"></script>
<script src="./js/x-admin.js"></script>
<script src="./js/x-layui.js" charset="utf-8"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script>
    $(function(){
        $("#head").load("head.html");
        $("#foot").load("foot.html");
        $("#search").load("search.html")
    });
</script>
<script type="text/javascript">
    layui.use(['laydate','element','laypage','layer'], function(){
        $ = layui.jquery;//jquery
        laydate = layui.laydate;//日期插件
        lement = layui.element();//面包导航
        laypage = layui.laypage;//分页
        layer = layui.layer;//弹出层

    });
    var app=new Vue({
        el:"#app",
        data:{
            products:[]
        }
    })
    //加载页面自动执行
    $(document).ready(function(){
        $.ajax({
            url:"goods/getAll",
            type:"post",
            dataType:"json",
            data:{

            },
            success:function (data) {
                app.products=data.data
            }
        })
    });

   
</script>
</body>
</html>
