<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/css.css" rel="stylesheet" type="text/css" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script src="js/jquery.min.1.8.2.js" type="text/javascript"></script>
<script src="js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
<script src="js/common_js.js" type="text/javascript"></script>
<script src="js/jquery.foucs.js" type="text/javascript"></script>
<script src="http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=402727"></script>
    <!--外部引用js-->
    <script type="text/javascript" src="js/goods/getDetails.js"></script>
<link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css">

<![endif]-->
<title>商品详细介绍</title>
</head>

<body>
<!--顶部样式-->
<div class="top_header">
<em class="left_img"></em>
<div class="header clearfix" id="header">
<a href="#" class="logo_img"></a>
<div class="header_Section">
    <div id="head"></div>
 <div class="nav" id="Navigation">
  <ul class="Navigation_name"> 
   <li class=""><a href="index.html">首页</a></li>
   <li class=""><a href="Products.html">所有果蔬</a></li>
   <li class=""><a href="Group_buy.html">活动专区</a></li>
      <li class=""><a href="integral.html">积分商城</a></li>
      <li class=""><a href="Product-List.html">特价</a></li>
      <li class=""><a href="Product-List1.html">鲜肉海鲜</a></li>
   <li class=""><a href="user.html">会员中心</a></li>
  </ul>
 </div>
 <script>$("#Navigation").slide({titCell:".Navigation_name li"});</script>
</div>
</div>
<em class="right_img"></em>
</div>
<!---->
<div><a href="#"></a></div>
<!--位置-->
<div class="Bread_crumbs">
 <div class="Inside_pages clearfix">
   <div class="left">当前位置：<a href="#">首页</a>&gt;<a href="#">详情页面</a></div>
     <div class="right Search" id="search">

     </div>
 </div>
</div>
<!--商品详细介绍-->
<div class="Inside_pages clearfix" id="app">
  <div class="left_style">
    <div class="title_img_p"></div>
   <div class="ranking">
    <div class="ranking_title"><span>可能</span>喜欢</div>
    <ul class="ranking_list">
     <li class="" v-for="(p,index) of like" v-if="p.flag=='正常'">
     <em class="ranking_label">{{index+1}}</em>
     <a  style="cursor: pointer;"  v-on:click="getDetails(p.id)" class="img"> <img v-bind:src="p.img" width="100px" height="100px" /></a>
     <p class="ranking_name">{{p.name}}</p>
     <p class="price"><b>￥</b>{{p.price}}</p>
     <p><a  style="cursor: pointer;"  v-on:click="getDetails(p.id)">立即查看></a></p>
     </li>
    </ul>
   </div>
 </div>
 <!--详细介绍样式-->
 <div class="right_style" >
  <div class="pro_detailed">
   <div class="Details_style clearfix" id="goodsInfo">
     <div class="mod_picfold clearfix">
    <div class="clearfix" id="detail_main_img">
	 <div class="layout_wrap">
         <img v-bind:src="products.img" width="100%"/>
	 </div>
	</div>
    <div class="Sharing">

  <!--收藏-->
	 </div>
   </div>
   <!--购买信息-->
    <div class="Buying_info">
      <div class="product_name"><h2 >{{products.name}}</h2><span>{{products.details}}</span></div>
      <div class="product_price">
       <div class="price"><label>商城价：</label>{{price}} <b>元</b></div>
       <div class="jyScore-fra"><span><em style="width:60px;"></em></span><b>4.5</b><a href="#">共有16条评论</a></div>
      </div>
      <div class="productDL">
        <dl>
        <dt>品种：</dt>
        <dd class="left">
         <div v-for="(b,index) of brands" style="display: inline-block">
         <div class="item  selected" id="b" v-if="index==selected1" v-on:click="select1(index)"><b></b><a href="#none" v-bind:title="b">{{b}}</a></div>
         <div class="item"   v-else v-on:click="select1(index)"><b></b><a href="#none" v-bind:title="b">{{b}}</a></div>
         </div>
        </dd>
        </dl>

        <dl>
            <dt>包装：</dt>
        <dd class="left" >
            <div v-for="(s,index) of sizes" style="display: inline-block">
                <div class="item selected" id="s" v-if="index==selected2" v-on:click="select2(index)"><b></b><a href="#none" v-bind:title="s">{{s}}</a></div>
                <div class="item" v-else v-on:click="select2(index)" ><b></b><a href="#none" v-bind:title="s">{{s}}</a></div>
            </div>
        </dd>
        </dl>
        <dl><dt>数量：</dt><dd class="left">
        <div class="Numbers">
		  <a v-if="number>1"  style="cursor: pointer;"v-on:click="--number;money=0;money=number*price" class="jian">-</a>
            <a v-else  style="cursor: pointer;" class="jian"></a>
		  <input id="number" name="number" type="text" v-bind:value="number" class="number_text">
		  <a v-if="number<6"  style="cursor: pointer;"v-on:click="++number;money=0;money=number*price" class="jia">+</a>
            <a v-else  style="cursor: pointer;" class="jia"></a>
		 </div>
        </dd><dd class="left Quantity">(库存：{{products.number}})</dd></dl>
      </div>
      <div class="product_Quantity">销量：{{products.purchase}}</div>
      <div class="operating">
       <a href="Orders.html"  class="buy_btn"></a>
       <a style="cursor: pointer;" v-on:click="addCart(products.id,price,number)" class="Join_btn"></a>
      </div>
    </div>
   </div>
   <!--信息展示-->
   <div class="mainListRight" id="status1">
   <ul class="fixed_bar" style="">
      <li class="status_on active"><a href="#status1">产品介绍</a></li>
      <li class="status_on"><a href="#status2">商品评价<span>(0)</span></a></li>
      <li class="status_on"><a href="#shbz">售后服务</a></li>
      <div class="statusBtn" style="display: none;"><a href="javascript:addToCart_bak(77)" class="statusBtn1" title="加入购物车"></a></div>
    </ul>
   
   </div>
  </div>
 </div>
</div>
<!--底部样式-->
<div id="foot"></div>
<script>
    $(function(){
        $("#head").load("head.html");
        $("#foot").load("foot.html");
        $("#search").load("search.html")
    });
</script>
<script src="./lib/layui/layui.js" charset="utf-8"></script>
<script src="./js/x-admin.js"></script>
<script src="./js/x-layui.js" charset="utf-8"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">

    //定义一个vue对象
    var app=new Vue({
        el:"#app",
        data:{
            products:[],//详细信息
            price:'',//价格
            number:1,
            brands:[],//品牌种类
            sizes:[],//大小
            prices:[],//不同种类的价格
            selected1:0,
            selected2:1,
            money:'',//总金额
            like:[]//可能喜欢
        },
        methods:{
            //选择品种和大小
            select1:function (index) {
                this.selected1=index
                this.price=this.prices[this.selected1].list[this.selected2].price
            },
            select2:function (index) {
                this.selected2=index
                this.price=this.prices[this.selected1].list[this.selected2].price
            },
            getDetails:function(id){
                //去后台访问详情信息
                window.open("Product-detailed.html?id="+id)
            },
            addCart:function (id,price,number) {
                //添加到购物车(获取种类和大小)
                var flag=$("#b").text()+"--"+$("#s").text()
                var userId=$("#userId").attr("title");
                cart(id,flag,userId,price,number);
            }
        }
    })

    //页面加载的自动执行
    $(document).ready(function () {
       var id=getQueryString("id");
        //根据id查询商品详情
        $.ajax({
            url:"goods/getById",
            type:"post",
            dataType:"json",
            data:{
                goods_id:id
            },
            success:function (data) {
                app.products=data.data
                app.price=data.data.price
                app.prices=data.data.activity
                for(var i=0;i<data.data.activity.length;i++){
                    app.brands[i]=data.data.activity[i].varieties
                    for(var j=0;j<data.data.activity[0].list.length;j++){
                        app.sizes[j]= data.data.activity[0].list[j].name
                    }

                }
                //猜用户还会喜欢什么商品
                $.ajax({
                    url:"goods/getLike",
                    type:"post",
                    dataType:"json",
                    data:{
                        name:data.data.name
                    },
                    success:function (data) {
                        app.like=data.data
                    }
                })
            }

        })

    })

    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null)
            return decodeURI(r[2]);
        return null;
    }

</script>
<script>
    window._bd_share_config = {
        "common": {
            "bdSnsKey": {},
            "bdText": "",
            "bdMini": "2",
            "bdMiniList": false,
            "bdPic": "",
            "bdStyle": "1",
            "bdSize": "16"
        },
        "share": {},
        "image": {
            "viewList": ["qzone", "weixin", "tsina", "tqq", "renren"],
            "viewText": "分享到：",
            "viewSize": "16"
        },
        "selectShare": {
            "bdContainerClass": null,
            "bdSelectMiniList": ["qzone", "weixin", "tsina", "tqq", "renren"]
        }
    };
    with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
</script>
</body>
</html>
